.Alert {
  display: block;
  position: fixed;
  padding: 15px 20px;
  top: 20px;
  right: 20px;
  border-radius: 8px;
}

.Alert button {
  display: block;
  position: absolute;
  padding: 5px 8px;
  background-color: transparent;
  border: none;
  outline: none;
  top: 2px;
  right: 2px;
  border-radius: 8px;
}

.Alert button:hover {
  font-size: 15px;
}

.Alert.Default {
  background-color: rgb(230, 230, 230);
}

.Alert.Success {
  background-color: #97BF12;
}

.Alert.Error {
  background-color: #D61029;
  color: #fff;
}

.Alert.Error button {
  color: #fff;
}